$primary-color: #65ad35; /* Основний зелений колір */
$secondary-color: #8cf943; /* М'який зелений */
$text-color: #222222; /* Темно-сірий для тексту */
$background-color: #ffffff; /* Світло-сірий фон */
$button-bg: #386d14; /* Темно-зелений для кнопок */