$primary-color: #65ad35; /* Основний зелений колір */
$secondary-color: #98D84E; /* М'який зелений */
$text-color: #222222; /* Темно-сірий для тексту */
$background-color: #ffffff; /* Світло-сірий фон */
$button-bg: #317B22; /* Темно-зелений для кнопок */