@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Основний зелений колір */
/* М'який зелений */
/* Темно-сірий для тексту */
/* Світло-сірий фон */
/* Темно-зелений для кнопок */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 15px;
  background-color: #ffffff;
  color: #222222;
  line-height: 1;
}

a {
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  color: #222222;
  background-color: #ffffff;
}
header .header__wrapper {
  position: relative;
  z-index: 19;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  background-color: #ffffff;
}
header .header__wrapper .burger {
  position: relative;
  z-index: 10;
  display: none;
  width: 30px;
  height: 30px;
}
header .header__wrapper .burger .burger__menu {
  position: relative;
  border-radius: 5px;
  width: 30px;
  height: 3px;
  background-color: #65ad35;
  transform: translateY(15px);
}
header .header__wrapper .burger .burger__menu::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  display: block;
  border-radius: 5px;
  width: 30px;
  height: 3px;
  background-color: #65ad35;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
header .header__wrapper .burger .burger__menu::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  display: block;
  border-radius: 5px;
  width: 30px;
  height: 3px;
  background-color: #65ad35;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
header .header__wrapper .burger .burger__menu.show {
  background-color: transparent;
}
header .header__wrapper .burger .burger__menu.show::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
header .header__wrapper .burger .burger__menu.show::after {
  top: 0;
  transform: rotate(45deg);
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
header .header__wrapper .header__logo {
  position: relative;
  margin-right: 0;
  width: 160px;
}
header .header__wrapper .header__logo a {
  width: 160px;
}
header .header__wrapper .header__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  transition: 0.5s;
}
header .header__wrapper .header__nav .menu {
  list-style: none;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}
header .header__wrapper .header__nav .menu .menu__item {
  position: relative;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
header .header__wrapper .header__nav .menu .menu__item .menu__link {
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 100%;
  font-weight: 400;
  padding: 19px 16px;
}
header .header__wrapper .header__nav .menu .menu__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width: 0px;
  height: 3px;
  left: 0;
  background-color: #65ad35;
  transition: 0.3s;
}
header .header__wrapper .header__nav .menu .menu__item:hover {
  background-color: #e6e6e6;
}
header .header__wrapper .header__nav .menu .menu__item:hover::after {
  width: 100%;
}
header .header__wrapper .header__nav .menu .menu__item:not(:last-child) {
  margin-right: 10px;
}
header .header__wrapper .header__nav .header__phones {
  display: flex;
  align-items: center;
  min-width: 210px;
}
header .header__wrapper .header__nav .header__phones .header__phones-icon {
  margin-right: 16px;
  height: 28px;
  width: 28px;
}
header .header__wrapper .header__nav .header__phones .header__phones-group {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.main__top {
  margin-top: 55px;
  position: relative;
  padding: 0;
}
.main__top .swiper {
  width: 100%;
  height: 100%;
  touch-action: pan-y;
}
.main__top .swiper .swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}
.main__top .swiper .swiper-slide .slide {
  width: 100%;
  height: 650px;
}
.main__top .swiper .swiper-slide .slide__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.main__top .swiper .swiper-slide .slide__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__top .swiper .swiper-slide .slide__image .img-display {
  -o-object-position: 100% 30%;
     object-position: 100% 30%;
}
.main__top .swiper .swiper-slide .slide__image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(50, 50, 50, 0.6) 100%);
}
.main__top .swiper .swiper-slide .slide .slide__info {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  text-align: center;
  padding: 20px;
  width: 60%;
}
.main__top .swiper .swiper-slide .slide .slide__info .slide__info-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 133.4%;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  padding: 0 15%;
  color: #ffffff;
}
.main__top .swiper .swiper-slide .slide .slide__info .slide__info-descr {
  color: #65ad35;
  margin-top: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 166.9%;
  letter-spacing: 0.21429px;
}
.main__top .swiper .swiper-button-next, .main__top .swiper .swiper-button-prev {
  color: #ffffff;
}
.main__top .swiper .swiper-button-next:hover, .main__top .swiper .swiper-button-prev:hover {
  color: #65ad35;
}
.main__top .swiper .swiper-pagination-bullet-active {
  background: #65ad35;
}
.main__top .swiper .swiper-pagination-bullet:hover {
  background: #65ad35;
  opacity: 1;
}
.main__top .main__button-container {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  text-align: center;
  width: 30%;
}
.main__top .main__button-container .main__button {
  background: linear-gradient(360deg, #386d14 0, #8cf943 100%);
  border-radius: 8px;
  width: 100%;
  height: 70px;
  font-family: Montserrat;
  border: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  color: #222222;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.main__top .main__button-container .main__button:hover {
  box-shadow: 0 0 15px #65ad35 !important;
}

.about__us {
  background-color: #ffffff;
  padding-top: 40px;
}
.about__us .about__us-title {
  text-align: center;
  color: #65ad35;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 40px;
}
.about__us .about__us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 80px;
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.about__us .about__us-content .about__us-upper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.about__us .about__us-content .about__us-upper .about__us-logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.about__us .about__us-content .about__us-upper .about__us-logo img {
  max-width: 180px;
  height: auto;
  transition: box-shadow 0.3s ease;
}
.about__us .about__us-content .about__us-upper .about__us-line {
  width: 2px;
  height: 80px;
  background-color: #65ad35;
}
.about__us .about__us-content .about__us-upper .about__us-short-text {
  flex: 1;
  color: #222222;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  line-height: 24px;
}
.about__us .about__us-content .about__us-long-text {
  color: #222222;
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
  max-width: 800px;
  letter-spacing: 1px;
}
.about__us .advantages__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(311px, 1fr));
}
.about__us .advantages__content .advantages__item {
  display: flex;
  max-width: 320px;
  margin-right: 50px;
  margin-bottom: 50px;
  align-items: center;
}
.about__us .advantages__content .advantages__item svg {
  width: 60px;
  height: 60px;
  margin-right: 18px;
}
.about__us .advantages__content .advantages__item p {
  color: #222222;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  max-width: 240px;
}

.services {
  padding-top: 40px;
  background-color: #ffffff;
  color: #222222;
  text-align: center;
}
.services .services__title {
  text-align: center;
  color: #65ad35;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 40px;
}
.services .services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 100px;
  padding-bottom: 200px;
}
.services .services__list .services__item {
  background-color: #e6e6e6;
  padding: 20px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 8px;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.services .services__list .services__item .services__item-title {
  font-weight: 400;
  font-size: 16px;
  padding-right: 100px;
  color: #65ad35;
  line-height: 20px;
  letter-spacing: 2px;
}
.services .services__list .services__item p {
  font-weight: 200;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 18px;
  letter-spacing: 1.3px;
  color: #222222;
}
.services .services__list .services__item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  margin-top: auto;
}
.services .services__list .services__item .item__display {
  -o-object-position: 100% 32%;
     object-position: 100% 32%;
}
.services .services__list .services__item:nth-child(even) {
  transform: translateY(200px);
}
.services .services__list .services__item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.49);
}

.feedback {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.feedback .feedback__title {
  text-align: center;
  color: #65ad35;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
}
.feedback form .form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
}
.feedback form .form-wrapper .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.feedback form .form-wrapper .form-top {
  display: flex;
  gap: 20px;
  width: 100%;
}
.feedback form .form-wrapper .form-top .form-input {
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 8px;
  height: 70px;
  outline: 0;
  border: none;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
  padding: 0 12px;
  transition: all 0.2s;
}
.feedback form .form-wrapper .form-top .form-input::-moz-placeholder {
  color: #848484;
}
.feedback form .form-wrapper .form-top .form-input::placeholder {
  color: #848484;
}
.feedback form .form-wrapper .form-top .form-input:focus {
  background: #ffffff;
  border: 1.5px solid #65ad35;
  box-shadow: none;
}
.feedback form .form-wrapper textarea {
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 8px;
  outline: 0;
  border: none;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
  transition: all 0.2s;
  height: 100%;
  resize: none;
  padding: 15px;
}
.feedback form .form-wrapper textarea::-moz-placeholder {
  color: #848484;
}
.feedback form .form-wrapper textarea::placeholder {
  color: #848484;
}
.feedback form .form-wrapper textarea:focus {
  background: #ffffff;
  border: 1.5px solid #65ad35;
  box-shadow: none;
}
.feedback form .form-btn {
  display: block;
  background: linear-gradient(360deg, #386d14 0, #8cf943 100%);
  border-radius: 8px;
  width: 30%;
  margin: 20px auto 0;
  height: 70px;
  font-family: Montserrat;
  border: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  color: #222222;
  cursor: pointer;
  transition: all 0.2s;
}
.feedback form .form-btn:hover {
  box-shadow: 0 0 15px #65ad35 !important;
}
.feedback form .form-btn:focus {
  outline: 3px solid #65ad35;
}

.footer {
  background-color: #e6e6e6;
  width: 100%;
}
.footer .footer__contacts {
  display: flex;
  color: #222222;
  padding: 70px 0 100px;
}
.footer .footer__contacts .contacts__list {
  padding-top: 30px;
  padding-left: 30px;
  width: 40%;
}
.footer .footer__contacts .contacts__list .contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin-left: 9px;
}
.footer .footer__contacts .contacts__list .contacts__item .contacts__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  width: 28px;
  height: 28px;
}
.footer .footer__contacts .contacts__list .contacts__item .contacts__item-icon img {
  width: 28px;
  height: 28px;
}
.footer .footer__contacts .contacts__list .contacts__item .work-days .text-green {
  color: #65ad35;
}
.footer .footer__contacts .contacts__list .contacts__item.company {
  margin: 0;
}
.footer .footer__contacts .contacts__list .contacts__item.company img {
  width: 160px;
}
.footer .footer__contacts .contacts__list .contacts__item.company-sub {
  font-weight: 500;
  font-size: 22px;
  line-height: 37px;
  margin-bottom: 32px;
  margin-left: 0;
  margin-top: 5px;
}
.footer .footer__contacts .contacts__map {
  width: 60%;
}
.footer .footer__contacts .contacts__map iframe {
  border-radius: 8px;
}
.footer .footer__bottom {
  color: #222222;
  background-color: #ffffff;
}
.footer .footer__bottom .footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.footer .footer__bottom .footer__wrapper .footer__logo img {
  width: 80px;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
  padding: 0 64px;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1568px;
    margin: 0 auto;
    padding: 0 64px;
  }
  header .header__wrapper {
    height: 75px;
  }
  header .header__wrapper .header__logo {
    font-size: 40px;
  }
  header .header__wrapper .header__nav .menu .menu__item {
    font-size: 22px;
  }
  header .header__wrapper .header__nav .menu .menu__item .menu__link {
    padding: 26px 16px;
  }
  header .header__wrapper .header__nav .header__phones .header__phones-icon {
    width: 38px;
    height: 38px;
  }
  header .header__wrapper .header__nav .header__phones .header__phones-group {
    font-size: 20px;
  }
  .main__top {
    margin-top: 75px;
  }
  .main__top .swiper .swiper-slide .slide {
    height: 800px;
  }
  .main__top .swiper .swiper-slide .slide .slide__info {
    top: 25%;
  }
  .main__top .swiper .swiper-slide .slide .slide__info .slide__info-title {
    font-size: 35px;
  }
  .main__top .swiper .swiper-slide .slide .slide__info .slide__info-descr {
    font-size: 40px;
    margin-top: 20px;
  }
  .main__top .main__button-container .main__button {
    height: 80px;
  }
  .about__us {
    padding-top: 80px;
  }
  .about__us .about__us-title {
    font-size: 60px;
  }
  .about__us .about__us-content .about__us-upper .about__us-logo img {
    max-width: 300px;
  }
  .about__us .about__us-content .about__us-upper .about__us-line {
    height: 120px;
  }
  .about__us .about__us-content .about__us-upper .about__us-short-text {
    font-size: 26px;
    line-height: 33px;
  }
  .about__us .about__us-content .about__us-long-text {
    max-width: 1000px;
    font-size: 24px;
  }
  .about__us .advantages__title {
    font-size: 60px;
  }
  .about__us .advantages__content {
    grid-template-columns: repeat(auto-fill, minmax(361px, 1fr));
  }
  .about__us .advantages__content .advantages__item {
    max-width: 440px;
  }
  .about__us .advantages__content .advantages__item svg {
    width: 80px;
    height: 80px;
  }
  .about__us .advantages__content .advantages__item p {
    font-size: 26px;
    max-width: 340px;
  }
  .services .services__title {
    font-size: 60px;
  }
  .services .services__list .services__item .services__item-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }
  .services .services__list .services__item p {
    font-size: 20px;
    line-height: 22px;
  }
  .services .services__list .services__item img {
    height: 300px;
  }
  .feedback {
    padding-top: 80px;
  }
  .feedback .feedback__title {
    font-size: 60px;
  }
  .feedback form .form-wrapper .form-top .form-input {
    height: 90px;
    font-size: 25px;
  }
  .feedback form .form-wrapper textarea {
    font-size: 25px;
    line-height: 30px;
  }
  .feedback form .form-btn {
    margin: 40px auto;
  }
  .footer {
    margin-top: 80px;
  }
}
@media (max-width: 1240px) {
  header .header__wrapper .header__nav {
    width: 83%;
  }
  header .header__wrapper .header__nav .menu .menu__item {
    font-size: 16px;
  }
  header .header__wrapper .header__nav .menu .menu__item:not(:last-child) {
    margin-right: 5px;
  }
  header .header__wrapper .header__nav .header__phones .header__phones-group {
    font-size: 18px;
  }
  .main__top .swiper .swiper-slide .slide .slide__info .slide__info-title {
    padding: 0 5%;
  }
  .about__us .advantages__content {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
  .about__us .advantages__content .advantages__item {
    max-width: 260px;
  }
  .about__us .advantages__content .advantages__item p {
    max-width: 185px;
  }
  .footer .footer__contacts .contacts__list {
    width: 50%;
  }
  .footer .footer__contacts .contacts__map {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 5vw;
  }
  header .header__wrapper .header__logo {
    width: 120px;
  }
  header .header__wrapper .header__logo a {
    width: 120px;
  }
  header .header__wrapper .header__nav .menu .menu__item {
    font-size: 14px;
    margin-right: 15px;
  }
  header .header__wrapper .header__nav .header__phones .header__phones-icon {
    margin-right: 5px;
  }
  header .header__wrapper .header__nav .header__phones .header__phones-group {
    font-size: 14px;
  }
  .main__top {
    padding: 0;
  }
  .main__top .swiper .swiper-slide .slide .slide__info {
    width: 70%;
  }
  .main__top .main__button-container {
    width: 40%;
  }
  .services .services__list {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .feedback form .form-wrapper {
    width: 80%;
  }
  .feedback form .form-btn {
    width: 40%;
  }
  .footer footer-container {
    padding-right: 0;
  }
  .footer .footer__contacts .contacts__map iframe {
    border-radius: 8px 0 0 8px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 4%;
  }
  header .header__wrapper {
    justify-content: flex-start;
  }
  header .header__wrapper .burger {
    display: block;
    cursor: pointer;
  }
  header .header__wrapper .header__logo {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
  }
  header .header__wrapper .header__logo a {
    margin-top: 10px;
  }
  header .header__wrapper .header__nav {
    position: fixed;
    overflow: auto;
    top: -500%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: all 0.2s ease-out;
  }
  header .header__wrapper .header__nav .menu {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
  }
  header .header__wrapper .header__nav .menu .menu__item {
    text-align: inherit;
    padding: 0;
    margin-right: 0;
  }
  header .header__wrapper .header__nav .menu .menu__item .menu__link {
    font-size: calc(18px + 6 * (100vw - 360px) / 910);
    padding: 16px 12px 16px 20px;
  }
  header .header__wrapper .header__nav .menu .menu__item:not(:last-child) {
    margin-right: 0;
    border-bottom: 1px solid #222222;
  }
  header .header__wrapper .header__nav .menu .menu__item:last-child {
    width: initial;
    border-bottom: 1px solid #65ad35;
  }
  header .header__wrapper .header__nav .header__phones {
    display: none;
  }
  header .header__wrapper .header__nav.show {
    height: 100vh;
    top: clamp(60px, 5vw + 20px, 80px);
    transform: translateY(0);
    width: 100%;
    padding-bottom: 150px;
    overflow: hidden;
    overflow-y: auto;
    left: 0;
  }
  .main__top {
    padding: 0;
  }
  .main__top .swiper .swiper-slide .slide {
    height: 450px;
  }
  .main__top .swiper .swiper-slide .slide .slide__info {
    top: 20%;
    width: 92%;
    padding: 0;
  }
  .main__top .swiper .swiper-slide .slide .slide__info .slide__info-title {
    font-weight: 600;
    font-size: 25px;
    padding: 0 15%;
  }
  .main__top .swiper .swiper-button-next, .main__top .swiper .swiper-button-prev {
    display: none;
  }
  .main__top .main__button-container .main__button {
    height: 50px;
    font-size: 20px;
  }
  .about__us .about__us-title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .about__us .about__us-content .about__us-upper {
    gap: 20px;
  }
  .about__us .about__us-content .about__us-upper .about__us-logo img {
    max-width: 140px;
  }
  .about__us .about__us-content .about__us-upper .about__us-short-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .about__us .advantages__content {
    margin-left: 25px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  .about__us .advantages__content .advantages__item {
    margin-right: 10px;
  }
  .services {
    padding-top: 40px;
  }
  .services .services__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .services .services__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 0px;
  }
  .services .services__list .services__item img {
    height: 300px;
  }
  .services .services__list .services__item:nth-child(even) {
    transform: translateY(0px);
  }
  .feedback .feedback__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .feedback form .form-wrapper {
    width: 90%;
  }
  .feedback form .form-btn {
    width: 60%;
    height: 60px;
  }
  .footer .footer__contacts {
    padding: 40px 0;
    flex-direction: column;
  }
  .footer .footer__contacts .contacts__list {
    width: 100%;
    padding-left: 50px;
  }
  .footer .footer__contacts .contacts__map {
    width: 100%;
    margin-top: 40px;
    height: 450px;
  }
  .footer .footer__contacts .contacts__map iframe {
    border-radius: 8px;
  }
  .footer .footer__bottom .footer__wrapper {
    flex-direction: column;
    line-height: 30px;
  }
  .footer .footer__bottom .footer__wrapper .footer__logo {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .main__top .swiper .swiper-slide .slide__image .img-display {
    -o-object-position: 50% 100%;
       object-position: 50% 100%;
  }
  .main__top .swiper .swiper-slide .slide .slide__info {
    top: 25%;
  }
  .main__top .swiper .swiper-slide .slide .slide__info .slide__info-title {
    font-size: 18px;
    padding: 0 5%;
  }
  .main__top .swiper .swiper-slide .slide .slide__info .slide__info-descr {
    font-size: 18px;
  }
  .main__top .main__button-container {
    width: 60%;
  }
  .about__us .advantages__content .advantages__item {
    max-width: 100%;
  }
  .about__us .advantages__content .advantages__item p {
    max-width: 70%;
  }
  .about__us .advantages__content .advantages__item br {
    display: none;
  }
  .services .services__list .services__item {
    padding: 20px 10px 10px 10px;
    border-radius: 5px;
  }
  .services .services__list .services__item .services__item-title {
    padding-right: 30px;
    letter-spacing: 0px;
    font-size: 15px;
  }
  .services .services__list .services__item p {
    text-align: justify;
    letter-spacing: 0px;
    font-size: 15px;
  }
  .services .services__list .services__item img {
    height: 200px;
  }
  .feedback form .form-wrapper {
    width: 100%;
  }
  .feedback form .form-wrapper .form-top {
    flex-direction: column;
  }
  .feedback form .form-btn {
    width: 70%;
    font-size: 22px;
  }
  .footer .footer__contacts {
    padding: 20px 0;
  }
  .footer .footer__contacts .contacts__list {
    padding-left: 40px;
  }
  .footer .footer__contacts .contacts__list .contacts__item {
    font-size: 17px;
    line-height: 30px;
  }
  .footer .footer__contacts .contacts__list .contacts__item.company {
    font-size: 35px;
    line-height: 35px;
  }
  .footer .footer__contacts .contacts__list .contacts__item.company-sub {
    line-height: 25px;
    font-size: 22px;
    margin-bottom: 30px;
  }
  .footer .footer__contacts .contacts__map {
    height: 350px;
  }
}
@media (max-width: 395px) {
  .main__top .swiper .swiper-slide .slide__image .img-audi {
    -o-object-position: 60% 100%;
       object-position: 60% 100%;
  }
  .main__top .swiper .swiper-slide .slide__image .img-merc {
    -o-object-position: 40% 100%;
       object-position: 40% 100%;
  }
  .main__top .swiper .swiper-slide .slide__image .img-display {
    -o-object-position: 49% 100%;
       object-position: 49% 100%;
  }
  .main__top .swiper .swiper-slide .slide .slide__info {
    top: 25%;
  }
  .main__top .main__button-container {
    width: 50%;
    bottom: 15%;
  }
  .main__top .main__button-container .main__button {
    height: 50px;
    font-size: 16px;
  }
  .about__us .about__us-content {
    margin-bottom: 40px;
  }
  .about__us .about__us-content .about__us-upper .about__us-logo img {
    max-width: 120px;
  }
  .about__us .about__us-content .about__us-upper .about__us-short-text {
    font-size: 12px;
  }
  .about__us .about__us-content .about__us-long-text {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.4;
    font-weight: 300;
  }
  .footer .footer__contacts .contacts__list {
    padding-left: 25px;
  }
  .footer .footer__contacts .contacts__map {
    height: 300px;
  }
  .footer .footer__bottom .footer__wrapper {
    padding: 10px;
  }
}
@media (max-width: 350px) {
  .main__top .swiper .swiper-slide .slide__image .img-merc {
    -o-object-position: 37% 100%;
    object-position: 37% 100%;
  }
}/*# sourceMappingURL=style.css.map */